
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.header-wrapper{
    position : fixed;
    top : 0;
    width : 100%;
    background-color : white;
    padding : 10px 0px;
    z-index: 1;
    box-shadow : 0 2px 7px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.chats__body{
    padding : 10px 0px;
    padding-top : 137px;
    background-color : #f4f4f4;
    min-height : 130vh;
}

  
  .chats__body .header,
  .chats__body .status-bar{
    padding : 0px 20px;
  }

.chat-screen .chat__messages{
    display : flex;
    flex-direction: column;
    align-items: baseline;
    padding : 0px 20px;
    border-top : 1px solid #f7f7f7;
}

.chat-screen .timestamp{
    font-size : 14px;
    padding : 30px 0px;
    opacity : 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__write-container{
    position : fixed;
    display : flex;
    width : 100%;
    margin : 0 auto;
    left : 0;
    right : 0;
    bottom : 0;
    justify-content: space-between;
    align-items: center;
}

.chat__icon-left{
    position : absolute;
    left : 10px;
}

.chat__icon-right{
    position : absolute;
    right : 10px;
}

@keyframes float{
    0%{
        transform: translateY(-40px);
        box-shadow : 0 1px 6px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
    50%{
        transform : translateY(-80px);
        box-shadow : 0 10px 20px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
    100%{
        transform: translateY(-40px);
        box-shadow : 0 1px 6px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
}

.chat__write{
    margin : 0 auto;
    bottom : 0px;
    width : 100%;
    border-radius : 0;
    padding : 20px 60px;
    width : 100%;
    border : none;
    font-size : 14px;
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chat__write:focus {
    outline : none;
    width : 80%;
    transform : translateY(-100px);
    border-radius : 40px;
    box-shadow : 0 1px 6px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    animation: float 3s linear infinite forwards;
}



.chat__write:focus ~ .chat__icon{
    opacity : 0;
}

.chat__icon{
    font-size : 18px;
    transition : opacity 0.3s ease-in-out;
}

.chat__write i{
    font-size : 20px;
}

.chat__write-column:nth-child(2){
    width : 80%;
}



.header .header__title{
    font-size : 25px;
}

.chat__pro-pic img{

    width: 30px;
    border-radius: 18px;
    margin-right: 20px;
    margin-top : 5px;
   
}

.incoming-message img{

    width: 30px;
    border-radius: 18px;
    margin-right: 20px;
    margin-top : 5px;
}

.chat__messages .incoming-message{
    position : relative;
}

.chat__messages .message__content{
    display : flex;
}

.out__message__content .send__message__bubble{
    display : flex;
    align-items: center;
    background-color : white;
    border-radius : 25px;
    border-top-left-radius: 0px;
    width : 400px;
    padding : 10px 20px;
    font-size : 14px;
    line-height: 25px;
   
    
}

.out__message__content .message__timestamp{
    margin : 13px 0px;
    font-size : 14px;
    opacity: 0.5;
    position : absolute;
    left : 15px;
}

.in__message__content .receive__message__bubble{
    display : flex;
    align-items: center;
    background-color : #343C43;
    color : #FDFDFD;
    border-radius : 25px;
    border-bottom-right-radius: 0px;
    width : 400px;
    padding : 20px 20px;
    font-size : 14px;
    line-height: 25px;
    margin : 40px 0px;   
}

.in__message__content .message__timestamp{
    margin : 7px 0px;
    font-size : 14px;
    opacity: 0.5;
    position : absolute;
    right : 20px;
    bottom : 10px;

}

.in__message__content i{
    font-size : 10px;
    color : #343C43;
    position : absolute;
    right : 2px;
    bottom : 18.5px;
}

.loading__message__content .send__message__bubble{
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : white;
    border-radius : 25px;
    border-top-left-radius: 0px;
    width : 60px;
    height : 40px;
    font-size : 20px;
    padding-bottom : 10px;
    margin : -15px 0px;
}

@keyframes out__message-anim {

    from{
        opacity : 0;
        transform : translateX(-100px);
    }

    to{
        opacity : 1;
        transform : none;
    }

}

.out__message__content{
    animation : out__message-anim 1s linear forwards;
}

@keyframes in__message-anim {
    
    from{
        opacity : 0;
        transform : translateX(100px);
    }

    to{
        opacity : 1;
        transform : none;
    }
}

.in__message__content{
    animation : in__message-anim 1.5s linear forwards;
}

@keyframes loading__message-anim {
    
    from{
        opacity : 0;
        
    }

    to{
        opacity : 1;
     
    }
}

.loading__message__content{
    animation : loading__message-anim 3.5s linear infinite forwards;
   
}