.friends .friends__plus{
    padding : 20px 0px;
    border-top : 1px solid #f7f7f7;
    border-bottom : 1px solid #f7f7f7;
    margin : 20px 0px;
}

.friends__plus .friends__title,
.friends__list .friends__title {
    margin-bottom : 12px;
    font-size : 14px;
    opacity : 0.6;
}

.friend-list{
    margin-bottom : 12px;
}

.friend .friend__now-listening{
    font-size : 14px;
    border-radius : 50px;
    border : 2px solid rgb(0, 202, 135);
    padding : 5px 10px;
}

.friend__now-listening i {
    color : rgb(0, 202, 135);
    font-size : 10px;
    text-align : center;
    padding-left : 5px;
}

.friend__now-listening span {
    opacity : 0.6;
}

.friends__title,
.friend__name{
    font-weight : 600;
}